.Header {
  background-image: url("./images/main-events-page/header006.jpg");
  background-size: cover;
  height: 500px;
}

.TopNavMenuItem {
  height: 75px;
}

.NavLogo {
  height: 75px;
}

header.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionFixed.footer.MuiAppBar-colorPrimary.mui-fixed {
  bottom: 0;
  top: auto;

}

.EventPageTile {
  width: 300px;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.EventPageImg {
  max-width: 300px;
  max-height: 300px;
}